In [1]:
import numpy as np
import pandas as pd
from geopy.geocoders import Nominatim 
import plotly.express as px

In [2]:
df=pd.read_csv('india-districts-census-2011.csv')
df.head()

,District code,State name,District name,Population,Male,Female,Literate,Male_Literate,Female_Literate,SC,...,Power_Parity_Rs_90000_150000,Power_Parity_Rs_45000_150000,Power_Parity_Rs_150000_240000,Power_Parity_Rs_240000_330000,Power_Parity_Rs_150000_330000,Power_Parity_Rs_330000_425000,Power_Parity_Rs_425000_545000,Power_Parity_Rs_330000_545000,Power_Parity_Above_Rs_545000,Total_Power_Parity
0,1,JAMMU AND KASHMIR,Kupwara,870354,474190,396164,439654,282823,156831,1048,...,94,588,71,101,172,74,10,84,15,1119
1,2,JAMMU AND KASHMIR,Badgam,753745,398041,355704,335649,207741,127908,368,...,126,562,72,89,161,96,28,124,18,1066
2,3,JAMMU AND KASHMIR,Leh(Ladakh),133487,78971,54516,93770,62834,30936,488,...,46,122,15,22,37,20,14,34,17,242
3,4,JAMMU AND KASHMIR,Kargil,140802,77785,63017,86236,56301,29935,18,...,27,114,12,18,30,19,3,22,7,214
4,5,JAMMU AND KASHMIR,Punch,476835,251899,224936,261724,163333,98391,556,...,78,346,35,50,85,59,8,67,12,629

In [3]:
df.shape

(640, 118)

In [4]:
df['District name'].nunique()

634

In [5]:
df.isnull().sum().sum()

0

In [6]:
df.duplicated().sum()

0

In [7]:
geolocator=Nominatim(user_agent='myapp',timeout=10)

## Finding latitude and longitude of every district  by using geopy library

In [8]:
districts_coord = []
failed_location=[]
for i,j in zip(df['District name'],df['State name']):
    try:
        location=geolocator.geocode(i+ "," +j+ ", India")
        districts_coord.append([location.latitude, location.longitude])
    except AttributeError:
        failed_location.append(i)
        print(f"Failed to find location for {i}")

Failed to find location for Leh(Ladakh)
Failed to find location for Punch
Failed to find location for Shupiyan
Failed to find location for Shahid Bhagat Singh Nagar
Failed to find location for North West
Failed to find location for North
Failed to find location for North East
Failed to find location for East
Failed to find location for New Delhi
Failed to find location for Central
Failed to find location for West
Failed to find location for South West
Failed to find location for South
Failed to find location for Shrawasti
Failed to find location for Sant Ravidas Nagar (Bhadohi)
Failed to find location for Kanshiram Nagar
Failed to find location for Ribhoi
Failed to find location for North Twenty Four Parganas
Failed to find location for South Twenty Four Parganas
Failed to find location for Kabeerdham
Failed to find location for Dakshin Bastar Dantewada
Failed to find location for Khandwa (East Nimar)
Failed to find location for Dohad
Failed to find location for Adilabad
Failed to find location for Nizamabad
Failed to find location for Karimnagar
Failed to find location for Medak
Failed to find location for Mahbubnagar
Failed to find location for Nalgonda
Failed to find location for Warangal
Failed to find location for Y.S.R.
Failed to find location for Nicobars

In [9]:
len(districts_coord)

608

In [10]:
# These district names have some spelling issues or might have updated so we are unable to fetch the latitude and longitude

failed_location

['Leh(Ladakh)',
 'Punch',
 'Shupiyan',
 'Shahid Bhagat Singh Nagar',
 'North West',
 'North',
 'North East',
 'East',
 'New Delhi',
 'Central',
 'West',
 'South West',
 'South',
 'Shrawasti',
 'Sant Ravidas Nagar (Bhadohi)',
 'Kanshiram Nagar',
 'Ribhoi',
 'North Twenty Four Parganas',
 'South Twenty Four Parganas',
 'Kabeerdham',
 'Dakshin Bastar Dantewada',
 'Khandwa (East Nimar)',
 'Dohad',
 'Adilabad',
 'Nizamabad',
 'Karimnagar',
 'Medak',
 'Mahbubnagar',
 'Nalgonda',
 'Warangal',
 'Y.S.R.',
 'Nicobars']

In [11]:
df[df['District name'].isin(failed_location)]

,District code,State name,District name,Population,Male,Female,Literate,Male_Literate,Female_Literate,SC,...,Power_Parity_Rs_90000_150000,Power_Parity_Rs_45000_150000,Power_Parity_Rs_150000_240000,Power_Parity_Rs_240000_330000,Power_Parity_Rs_150000_330000,Power_Parity_Rs_330000_425000,Power_Parity_Rs_425000_545000,Power_Parity_Rs_330000_545000,Power_Parity_Above_Rs_545000,Total_Power_Parity
2,3,JAMMU AND KASHMIR,Leh(Ladakh),133487,78971,54516,93770,62834,30936,488,...,46,122,15,22,37,20,14,34,17,242
4,5,JAMMU AND KASHMIR,Punch,476835,251899,224936,261724,163333,98391,556,...,78,346,35,50,85,59,8,67,12,629
12,13,JAMMU AND KASHMIR,Shupiyan,266215,136480,129735,136500,80355,56145,43,...,39,257,33,47,80,29,6,35,9,500
38,39,PUNJAB,Shahid Bhagat Singh Nagar,612310,313291,299019,438459,239155,199304,260284,...,339,596,252,126,378,131,201,332,280,1653
89,90,NCT OF DELHI,North West,3656539,1960922,1695617,2707855,1541952,1165903,697237,...,1903,3584,589,582,1171,482,567,1049,769,7151
90,91,NCT OF DELHI,North,887978,475002,412976,681517,381615,299902,165663,...,1903,3584,589,582,1171,482,567,1049,769,7151
91,92,NCT OF DELHI,North East,2241624,1188425,1053199,1611588,912481,699107,373758,...,1903,3584,589,582,1171,482,567,1049,769,7151
92,93,NCT OF DELHI,East,1709346,907500,801846,1352998,748382,604616,281422,...,1903,3584,589,582,1171,482,567,1049,769,7151
93,94,NCT OF DELHI,New Delhi,142004,77942,64062,114179,65678,48501,33245,...,1903,3584,589,582,1171,482,567,1049,769,7151
94,95,NCT OF DELHI,Central,582320,307821,274499,442360,240518,201842,143178,...,1903,3584,589,582,1171,482,567,1049,769,7151
95,96,NCT OF DELHI,West,2543243,1356240,1187003,1961179,1093933,867246,376472,...,1903,3584,589,582,1171,482,567,1049,769,7151
96,97,NCT OF DELHI,South West,2292958,1246046,1046912,1787689,1025261,762428,318408,...,1903,3584,589,582,1171,482,567,1049,769,7151
97,98,NCT OF DELHI,South,2731929,1467428,1264501,2078402,1185036,893366,422926,...,1903,3584,589,582,1171,482,567,1049,769,7151
180,181,UTTAR PRADESH,Shrawasti,1117361,593897,523464,423313,276700,146613,189334,...,323,888,93,136,229,74,6,80,5,1491
197,198,UTTAR PRADESH,Sant Ravidas Nagar (Bhadohi),1578213,807099,771114,910146,546782,363364,353103,...,464,1112,108,154,262,113,30,143,38,1863
201,202,UTTAR PRADESH,Kanshiram Nagar,1436719,764165,672554,724850,452803,272047,254299,...,666,1727,185,256,441,150,56,206,51,2935
296,297,MEGHALAYA,Ribhoi,258840,132531,126309,155859,80977,74882,590,...,89,226,22,31,53,7,3,10,4,333
336,337,WEST BENGAL,North Twenty Four Parganas,10009781,5119389,4890392,7608693,4056046,3552647,2169084,...,5436,10179,2749,1912,4661,1267,2446,3713,1719,21892
342,343,WEST BENGAL,South Twenty Four Parganas,8161961,4173778,3988183,5531657,3043277,2488380,2464032,...,2146,5967,1105,361,1466,326,663,989,147,10313
406,407,CHHATTISGARH,Kabeerdham,822526,412058,410468,414167,248503,165664,119798,...,145,415,6,8,14,6,10,16,12,622
415,416,CHHATTISGARH,Dakshin Bastar Dantewada,533638,264142,269496,191237,116529,74708,12996,...,279,613,79,8,87,7,12,19,9,909
465,466,MADHYA PRADESH,Khandwa (East Nimar),1310061,674329,635732,731615,432259,299356,156601,...,409,918,73,32,105,27,43,70,44,1395
484,485,GUJARAT,Dohad,2127086,1068651,1058435,1007171,599035,408136,41444,...,811,1837,139,187,326,205,304,509,68,3074
531,532,ANDHRA PRADESH,Adilabad,2741239,1369597,1371642,1483347,856350,626997,488596,...,1266,2870,84,122,206,134,213,347,109,4181
532,533,ANDHRA PRADESH,Nizamabad,2551335,1250641,1300694,1389810,790214,599596,371074,...,931,2399,61,60,121,71,105,176,100,3458
533,534,ANDHRA PRADESH,Karimnagar,3776269,1880800,1895469,2206829,1257238,949591,709757,...,1420,3583,128,99,227,119,173,292,186,5251
534,535,ANDHRA PRADESH,Medak,3033288,1523030,1510258,1637137,953406,683731,537947,...,997,2656,84,59,143,71,102,173,116,3874
537,538,ANDHRA PRADESH,Mahbubnagar,4053028,2050386,2002642,1940646,1158386,782260,708954,...,1137,3241,70,54,124,65,95,160,102,4695
538,539,ANDHRA PRADESH,Nalgonda,3488809,1759772,1729037,2001019,1160757,840262,637385,...,1106,3043,64,72,136,84,125,209,113,4468
539,540,ANDHRA PRADESH,Warangal,3512576,1759281,1753295,2065023,1179790,885233,616102,...,1203,3139,135,93,228,112,162,274,185,4762
550,551,ANDHRA PRADESH,Y.S.R.,2882469,1451777,1430692,1716766,994699,722067,465794,...,1174,2762,88,91,179,106,158,264,148,4030
637,638,ANDAMAN AND NICOBAR ISLANDS,Nicobars,36842,20727,16115,25332,15397,9935,0,...,685,1895,212,134,346,70,120,190,84,3151

In [12]:
# Manually searching the proper names for it and Replacing it so to fetch the latitude and longitude 


updated_locations=['Leh','Poonch','Shopian','Nawanshahr','North West Delhi','North Delhi','North East Delhi','East Delhi','New Delhi','Central Delhi','West Delhi','South West Delhi','South Delhi','Shravasti','Bhadohi','Kasganj','Ri Bhoi','North 24 Parganas','South 24 Parganas','Kabirdham','Dantewada','Khandwa','Dahod','Adilabad','Nizamabad','Karimnagar','Medak','Mahbubnagar','Nalgonda','Warangal','YSR','Nicobar']

In [13]:
len(updated_locations)

32

In [14]:
len(failed_location)

32

In [15]:
# replacing the district names

df['District name']=df['District name'].replace(failed_location,updated_locations)

In [16]:
df['District name'].nunique()

634

In [17]:
def lat_long(data):
    latitude_dist=[]
    longitude_dist=[]
    for i,j in zip(data['District name'],data['State name']):
        try:
            val=geolocator.geocode(i+ "," +j+ ", India")
            latitude_dist.append(val.latitude)
            longitude_dist.append(val.longitude)
        except AttributeError:
            latitude_dist.append(np.nan)
            longitude_dist.append(np.nan)
            
        
    data['latitude']=latitude_dist
    data['longitude']=longitude_dist
    return data

In [18]:
df=lat_long(df)
df

,District code,State name,District name,Population,Male,Female,Literate,Male_Literate,Female_Literate,SC,...,Power_Parity_Rs_150000_240000,Power_Parity_Rs_240000_330000,Power_Parity_Rs_150000_330000,Power_Parity_Rs_330000_425000,Power_Parity_Rs_425000_545000,Power_Parity_Rs_330000_545000,Power_Parity_Above_Rs_545000,Total_Power_Parity,latitude,longitude
0,1,JAMMU AND KASHMIR,Kupwara,870354,474190,396164,439654,282823,156831,1048,...,71,101,172,74,10,84,15,1119,34.611024,74.238479
1,2,JAMMU AND KASHMIR,Badgam,753745,398041,355704,335649,207741,127908,368,...,72,89,161,96,28,124,18,1066,34.015472,74.722009
2,3,JAMMU AND KASHMIR,Leh,133487,78971,54516,93770,62834,30936,488,...,15,22,37,20,14,34,17,242,34.086084,74.823423
3,4,JAMMU AND KASHMIR,Kargil,140802,77785,63017,86236,56301,29935,18,...,12,18,30,19,3,22,7,214,32.704548,74.871206
4,5,JAMMU AND KASHMIR,Poonch,476835,251899,224936,261724,163333,98391,556,...,35,50,85,59,8,67,12,629,33.767000,74.095714
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
635,636,PONDICHERRY,Mahe,41816,19143,22673,36470,16610,19860,144,...,1370,838,2208,576,978,1554,1446,10027,11.702198,75.536470
636,637,PONDICHERRY,Karaikal,200222,97809,102413,154916,79903,75013,35348,...,665,340,1005,246,483,729,341,4890,10.915710,79.837576
637,638,ANDAMAN AND NICOBAR ISLANDS,Nicobar,36842,20727,16115,25332,15397,9935,0,...,212,134,346,70,120,190,84,3151,7.000017,93.811082
638,639,ANDAMAN AND NICOBAR ISLANDS,North AND Middle Andaman,105597,54861,50736,78683,43186,35497,0,...,212,134,346,70,120,190,84,3151,12.611239,92.831654
639,640,ANDAMAN AND NICOBAR ISLANDS,South Andaman,238142,127283,110859,190266,105794,84472,0,...,649,368,1017,265,497,762,376,5782,11.723203,92.701110

In [19]:
cols = df.columns.tolist()
cols

['District code',
 'State name',
 'District name',
 'Population',
 'Male',
 'Female',
 'Literate',
 'Male_Literate',
 'Female_Literate',
 'SC',
 'Male_SC',
 'Female_SC',
 'ST',
 'Male_ST',
 'Female_ST',
 'Workers',
 'Male_Workers',
 'Female_Workers',
 'Main_Workers',
 'Marginal_Workers',
 'Non_Workers',
 'Cultivator_Workers',
 'Agricultural_Workers',
 'Household_Workers',
 'Other_Workers',
 'Hindus',
 'Muslims',
 'Christians',
 'Sikhs',
 'Buddhists',
 'Jains',
 'Others_Religions',
 'Religion_Not_Stated',
 'LPG_or_PNG_Households',
 'Housholds_with_Electric_Lighting',
 'Households_with_Internet',
 'Households_with_Computer',
 'Rural_Households',
 'Urban_Households',
 'Households',
 'Below_Primary_Education',
 'Primary_Education',
 'Middle_Education',
 'Secondary_Education',
 'Higher_Education',
 'Graduate_Education',
 'Other_Education',
 'Literate_Education',
 'Illiterate_Education',
 'Total_Education',
 'Age_Group_0_29',
 'Age_Group_30_49',
 'Age_Group_50',
 'Age not stated',
 'Households_with_Bicycle',
 'Households_with_Car_Jeep_Van',
 'Households_with_Radio_Transistor',
 'Households_with_Scooter_Motorcycle_Moped',
 'Households_with_Telephone_Mobile_Phone_Landline_only',
 'Households_with_Telephone_Mobile_Phone_Mobile_only',
 'Households_with_TV_Computer_Laptop_Telephone_mobile_phone_and_Scooter_Car',
 'Households_with_Television',
 'Households_with_Telephone_Mobile_Phone',
 'Households_with_Telephone_Mobile_Phone_Both',
 'Condition_of_occupied_census_houses_Dilapidated_Households',
 'Households_with_separate_kitchen_Cooking_inside_house',
 'Having_bathing_facility_Total_Households',
 'Having_latrine_facility_within_the_premises_Total_Households',
 'Ownership_Owned_Households',
 'Ownership_Rented_Households',
 'Type_of_bathing_facility_Enclosure_without_roof_Households',
 'Type_of_fuel_used_for_cooking_Any_other_Households',
 'Type_of_latrine_facility_Pit_latrine_Households',
 'Type_of_latrine_facility_Other_latrine_Households',
 'Type_of_latrine_facility_Night_soil_disposed_into_open_drain_Households',
 'Type_of_latrine_facility_Flush_pour_flush_latrine_connected_to_other_system_Households',
 'Not_having_bathing_facility_within_the_premises_Total_Households',
 'Not_having_latrine_facility_within_the_premises_Alternative_source_Open_Households',
 'Main_source_of_drinking_water_Un_covered_well_Households',
 'Main_source_of_drinking_water_Handpump_Tubewell_Borewell_Households',
 'Main_source_of_drinking_water_Spring_Households',
 'Main_source_of_drinking_water_River_Canal_Households',
 'Main_source_of_drinking_water_Other_sources_Households',
 'Main_source_of_drinking_water_Other_sources_Spring_River_Canal_Tank_Pond_Lake_Other_sources__Households',
 'Location_of_drinking_water_source_Near_the_premises_Households',
 'Location_of_drinking_water_source_Within_the_premises_Households',
 'Main_source_of_drinking_water_Tank_Pond_Lake_Households',
 'Main_source_of_drinking_water_Tapwater_Households',
 'Main_source_of_drinking_water_Tubewell_Borehole_Households',
 'Household_size_1_person_Households',
 'Household_size_2_persons_Households',
 'Household_size_1_to_2_persons',
 'Household_size_3_persons_Households',
 'Household_size_3_to_5_persons_Households',
 'Household_size_4_persons_Households',
 'Household_size_5_persons_Households',
 'Household_size_6_8_persons_Households',
 'Household_size_9_persons_and_above_Households',
 'Location_of_drinking_water_source_Away_Households',
 'Married_couples_1_Households',
 'Married_couples_2_Households',
 'Married_couples_3_Households',
 'Married_couples_3_or_more_Households',
 'Married_couples_4_Households',
 'Married_couples_5__Households',
 'Married_couples_None_Households',
 'Power_Parity_Less_than_Rs_45000',
 'Power_Parity_Rs_45000_90000',
 'Power_Parity_Rs_90000_150000',
 'Power_Parity_Rs_45000_150000',
 'Power_Parity_Rs_150000_240000',
 'Power_Parity_Rs_240000_330000',
 'Power_Parity_Rs_150000_330000',
 'Power_Parity_Rs_330000_425000',
 'Power_Parity_Rs_425000_545000',
 'Power_Parity_Rs_330000_545000',
 'Power_Parity_Above_Rs_545000',
 'Total_Power_Parity',
 'latitude',
 'longitude']

In [20]:
cols=cols[:3]+cols[-2:]+cols[3:-2]

In [21]:
df=df[cols]
df

,District code,State name,District name,latitude,longitude,Population,Male,Female,Literate,Male_Literate,...,Power_Parity_Rs_90000_150000,Power_Parity_Rs_45000_150000,Power_Parity_Rs_150000_240000,Power_Parity_Rs_240000_330000,Power_Parity_Rs_150000_330000,Power_Parity_Rs_330000_425000,Power_Parity_Rs_425000_545000,Power_Parity_Rs_330000_545000,Power_Parity_Above_Rs_545000,Total_Power_Parity
0,1,JAMMU AND KASHMIR,Kupwara,34.611024,74.238479,870354,474190,396164,439654,282823,...,94,588,71,101,172,74,10,84,15,1119
1,2,JAMMU AND KASHMIR,Badgam,34.015472,74.722009,753745,398041,355704,335649,207741,...,126,562,72,89,161,96,28,124,18,1066
2,3,JAMMU AND KASHMIR,Leh,34.086084,74.823423,133487,78971,54516,93770,62834,...,46,122,15,22,37,20,14,34,17,242
3,4,JAMMU AND KASHMIR,Kargil,32.704548,74.871206,140802,77785,63017,86236,56301,...,27,114,12,18,30,19,3,22,7,214
4,5,JAMMU AND KASHMIR,Poonch,33.767000,74.095714,476835,251899,224936,261724,163333,...,78,346,35,50,85,59,8,67,12,629
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
635,636,PONDICHERRY,Mahe,11.702198,75.536470,41816,19143,22673,36470,16610,...,2316,4309,1370,838,2208,576,978,1554,1446,10027
636,637,PONDICHERRY,Karaikal,10.915710,79.837576,200222,97809,102413,154916,79903,...,1063,2408,665,340,1005,246,483,729,341,4890
637,638,ANDAMAN AND NICOBAR ISLANDS,Nicobar,7.000017,93.811082,36842,20727,16115,25332,15397,...,685,1895,212,134,346,70,120,190,84,3151
638,639,ANDAMAN AND NICOBAR ISLANDS,North AND Middle Andaman,12.611239,92.831654,105597,54861,50736,78683,43186,...,685,1895,212,134,346,70,120,190,84,3151
639,640,ANDAMAN AND NICOBAR ISLANDS,South Andaman,11.723203,92.701110,238142,127283,110859,190266,105794,...,1371,3020,649,368,1017,265,497,762,376,5782

In [22]:
#checking for nan values since geopy is unable to fetch some parts of andhra pradesh disticts because it is considering districts
# under telengana state

df.isnull().sum()

District code                     0
State name                        0
District name                     0
latitude                         16
longitude                        16
                                 ..
Power_Parity_Rs_330000_425000     0
Power_Parity_Rs_425000_545000     0
Power_Parity_Rs_330000_545000     0
Power_Parity_Above_Rs_545000      0
Total_Power_Parity                0
Length: 120, dtype: int64

In [26]:
temp_df=df[df['latitude'].isnull()]['District name']
temp_df

89     North West Delhi
90          North Delhi
91     North East Delhi
92           East Delhi
93            New Delhi
94        Central Delhi
95           West Delhi
96     South West Delhi
97          South Delhi
531            Adilabad
532           Nizamabad
533          Karimnagar
534               Medak
537         Mahbubnagar
538            Nalgonda
539            Warangal
Name: District name, dtype: object

In [33]:
lat=[]
long=[]
for i in temp_df.values:
    loc=geolocator.geocode(i)
    lat.append(loc.latitude)
    long.append(loc.longitude)

In [34]:
lat

[28.737914449999998,
 28.78722785,
 28.72330795,
 28.61976385,
 28.6138954,
 28.69854835,
 28.6479519,
 28.58644805,
 28.485169399999997,
 19.5,
 26.055317950000003,
 18.4348122,
 17.9375095,
 16.7434538,
 16.8579636,
 17.9820644]

In [38]:
geolocator.geocode('Nizamabad')

Location(Nizamabad, Azamgarh, Uttar Pradesh, India, (26.055317950000003, 82.99313867937335, 0.0))

In [46]:
# for nizamabad it is taking uttar pradesh district since both have similiar names so changing name of nizmabad to nizamabad telengana

temp_df.loc[532]= 'Nizamabad,Telangana'

D:\conda\lib\site-packages\pandas\core\indexing.py:1732: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)

In [47]:
geolocator.geocode('Nizamabad,Telangana')

Location(Nizamabad, Telangana, India, (18.75, 78.25, 0.0))

In [48]:
lat=[]
long=[]
for i in temp_df.values:
    loc=geolocator.geocode(i)
    lat.append(loc.latitude)
    long.append(loc.longitude)

In [52]:
lat

[28.737914449999998,
 28.78722785,
 28.72330795,
 28.61976385,
 28.6138954,
 28.69854835,
 28.6479519,
 28.58644805,
 28.485169399999997,
 19.5,
 18.75,
 18.4348122,
 17.9375095,
 16.7434538,
 16.8579636,
 17.9820644]

In [53]:
df.loc[temp_df.index,'latitude']=lat

In [54]:
df.loc[temp_df.index,'longitude']=long

In [56]:
df.isnull().sum().sum()

0

In [64]:
# exporting the file in csv format 

#df.to_csv('Census_of_India_2011_updated.csv',index=False)

In [65]:
# creating a copy of df

data=df.copy()

### State wise Analysis

In [66]:
# Calculating the percentage of every parameter with respect to population for every states in order to do analysis based on states

states_df=data.drop(columns=['District code','District name','latitude','longitude']).groupby('State name').sum().reset_index()
states_df

,State name,Population,Male,Female,Literate,Male_Literate,Female_Literate,SC,Male_SC,Female_SC,...,Power_Parity_Rs_90000_150000,Power_Parity_Rs_45000_150000,Power_Parity_Rs_150000_240000,Power_Parity_Rs_240000_330000,Power_Parity_Rs_150000_330000,Power_Parity_Rs_330000_425000,Power_Parity_Rs_425000_545000,Power_Parity_Rs_330000_545000,Power_Parity_Above_Rs_545000,Total_Power_Parity
0,ANDAMAN AND NICOBAR ISLANDS,380581,202871,177710,294281,164377,129904,0,0,0,...,2741,6810,1073,636,1709,405,737,1142,544,12084
1,ANDHRA PRADESH,84580777,42442146,42138631,50556760,28251243,22305517,13878078,6913047,6965031,...,34248,80360,5183,3090,8273,3771,5385,9156,6449,124166
2,ARUNACHAL PRADESH,1383727,713912,669815,766005,439868,326137,0,0,0,...,1486,4158,556,396,952,141,153,294,172,6456
3,ASSAM,31205576,15939443,15266133,19177977,10568639,8609338,2231321,1145314,1086007,...,2095,6406,834,590,1424,195,207,402,202,9944
4,BIHAR,104099452,54278157,49821295,52504553,31608023,20896530,16567325,8606253,7961072,...,18132,55371,6168,564,6732,788,1273,2061,1576,89490
5,CHANDIGARH,1055450,580663,474787,805438,465346,340092,199086,106356,92730,...,7152,10783,4285,2444,6729,3382,4461,7843,7897,34145
6,CHHATTISGARH,25545198,12832895,12712303,15379922,8807893,6572029,3274269,1641738,1632531,...,8485,19526,1643,749,2392,613,956,1569,1263,30603
7,DADRA AND NAGAR HAVELI,343709,193760,149949,223230,142521,80709,6186,3339,2847,...,1667,3449,407,564,971,729,978,1707,235,6793
8,DAMAN AND DIU,243247,150301,92946,188406,124643,63763,6124,3151,2973,...,14304,21566,8570,4888,13458,6764,8922,15686,15794,68290
9,GOA,1458545,739140,719405,1165487,615823,549664,25449,12627,12822,...,851,1589,273,325,598,315,368,683,645,3724
10,GUJARAT,60439692,31491260,28948432,41093358,23474873,17618485,4074447,2110331,1964116,...,36299,65573,10745,11626,22371,8419,13429,21848,12669,130705
11,HARYANA,25351462,13494734,11856728,16598988,9794067,6804921,5113615,2709656,2403959,...,11667,22640,8286,5636,13922,4958,7820,12778,4461,56038
12,HIMACHAL PRADESH,6864602,3481873,3382729,5039736,2752590,2287146,1729252,876300,852952,...,3682,8316,1322,758,2080,920,1358,2278,1564,16154
13,JAMMU AND KASHMIR,12541302,6640662,5900640,7067233,4264671,2802562,924991,486232,438759,...,3080,9945,1527,1970,3497,1677,1048,2725,1193,20686
14,JHARKHAND,32988134,16930315,16057819,18328069,10882519,7445550,3985644,2043458,1942186,...,8260,23002,3288,507,3795,708,1151,1859,1634,38409
15,KARNATAKA,61095297,30966657,30128640,40647322,22508471,18138851,10474992,5264545,5210447,...,25473,51251,10663,4970,15633,6956,10222,17178,7569,103198
16,KERALA,33406061,16027412,17378649,28135824,13704903,14430921,3039573,1477808,1561765,...,14093,29837,4013,4103,8116,2070,2348,4418,1542,51966
17,LAKSHADWEEP,64473,33123,31350,52553,28023,24530,0,0,0,...,426,795,136,162,298,158,184,342,322,1861
18,MADHYA PRADESH,72626809,37612306,35014503,42851169,25174328,17676841,11342320,5908638,5433682,...,24381,56496,3729,2761,6490,2408,3756,6164,3989,89277
19,MAHARASHTRA,112374333,58243056,54131277,81554290,45257584,36296706,13275898,6767759,6508139,...,70807,132603,29860,23999,53859,31912,40163,72075,43658,317442
20,MANIPUR,2855794,1438586,1417208,1908476,1039858,868618,97328,48863,48465,...,807,2115,262,117,379,72,49,121,36,3366
21,MEGHALAYA,2966889,1491832,1475057,1785005,913879,871126,17355,9157,8198,...,1021,2616,369,302,671,98,124,222,164,4176
22,MIZORAM,1097206,555339,541867,848175,438529,409646,1218,807,411,...,623,1193,224,119,343,92,132,224,175,2108
23,NAGALAND,1978502,1024649,953853,1342434,723957,618477,0,0,0,...,887,2417,392,129,521,117,125,242,146,3763
24,NCT OF DELHI,16787941,8987326,7800615,12737767,7194856,5542911,2812309,1488800,1323509,...,17127,32256,5301,5238,10539,4338,5103,9441,6921,64359
25,ORISSA,41974218,21212136,20762082,26742595,15089681,11652914,7188463,3617808,3570655,...,8744,24663,4766,3916,8682,987,1597,2584,1351,49831
26,PONDICHERRY,1247953,612511,635442,957309,497378,459931,196325,95512,100813,...,8011,15335,4775,2854,7629,1974,3417,5391,4679,34971
27,PUNJAB,27743338,14639465,13103873,18707137,10436056,8271081,8860179,4639875,4220304,...,15827,27357,9200,6311,15511,7349,10597,17946,9560,73388
28,RAJASTHAN,68548437,35550997,32997440,38275282,23688412,14586870,12221593,6355564,5866029,...,30478,63033,6317,4698,11015,5076,8235,13311,10589,108763
29,SIKKIM,610577,323070,287507,444952,251269,193683,28275,14454,13821,...,215,539,87,84,171,19,15,34,29,913
30,TAMIL NADU,72147030,36137975,36009055,51837507,28040491,23797016,14438445,7204687,7233758,...,37180,81283,22188,12888,35076,8312,15348,23660,15362,168697
31,TRIPURA,3673917,1874376,1799541,2804783,1501369,1303414,654918,334370,320548,...,1330,3230,456,420,876,100,124,224,237,5238
32,UTTAR PRADESH,199812341,104480510,95331831,114397555,68234964,46162591,41357608,21676975,19680633,...,56146,138562,15329,20209,35538,12115,6564,18679,7154,237885
33,UTTARAKHAND,10086292,5137773,4948519,6880953,3863708,3017245,1892516,968586,923930,...,3010,6945,811,920,1731,871,389,1260,463,12189
34,WEST BENGAL,91276115,46809027,44467088,61538281,33818810,27719471,21463270,11003304,10459966,...,32335,73712,15122,8849,23971,5482,10459,15941,8720,140786

In [67]:
## importing states geojson file
## to read the geojson file importing geopandas

import geopandas as gpd

states_geo = gpd.read_file('india_states.geojson')
states_geo

,ID_0,ISO,NAME_0,ID_1,NAME_1,NL_NAME_1,VARNAME_1,TYPE_1,ENGTYPE_1,filename,filename_1,filename_2,filename_3,filename_4,geometry
0,105,IND,India,1,Andaman and Nicobar Islands,,Andaman & Nicobar Islands|Andaman et Nicobar|I...,Union Territor,Union Territory,,,,,,"MULTIPOLYGON (((93.78773 6.85264, 93.78849 6.8..."
1,105,IND,India,2,Andhra Pradesh,,,State,State,,,,,,"MULTIPOLYGON (((80.27458 13.45958, 80.27458 13..."
2,105,IND,India,3,Arunachal Pradesh,,Agence de la Frontire du Nord-Est(French-obsol...,State,State,,,,,,"POLYGON ((96.15778 29.38310, 96.16380 29.37668..."
3,105,IND,India,4,Assam,,,State,State,,,,,,"MULTIPOLYGON (((89.87145 25.53730, 89.87118 25..."
4,105,IND,India,5,Bihar,,,State,State,,,,,,"MULTIPOLYGON (((88.10548 26.53904, 88.10505 26..."
5,105,IND,India,6,Chandigarh,,,Union Territor,Union Territory,,,,,,"POLYGON ((76.81981 30.68583, 76.81051 30.68495..."
6,105,IND,India,7,Chhattisgarh,,,State,State,,,,,,"POLYGON ((83.32760 24.09965, 83.34575 24.09707..."
7,105,IND,India,8,Dadra and Nagar Haveli,,DAdra et Nagar Haveli|Dadra e Nagar Haveli,Union Territor,Union Territory,,,,,,"POLYGON ((72.99046 20.29209, 73.00357 20.29314..."
8,105,IND,India,9,Daman and Diu,,,Union Territor,Union Territory,,,,,,"MULTIPOLYGON (((72.86014 20.47096, 72.86340 20..."
9,105,IND,India,10,Delhi,,,Union Territor,Union Territory,,,,,,"POLYGON ((77.21732 28.83528, 77.21365 28.81350..."
10,105,IND,India,11,Goa,,Ga,State,State,,,,,,"MULTIPOLYGON (((73.78181 15.35569, 73.78181 15..."
11,105,IND,India,12,Gujarat,,Goudjerate|Gujerat|Gujerate,State,State,,,,,,"MULTIPOLYGON (((70.86097 20.75292, 70.86097 20..."
12,105,IND,India,13,Haryana,,,State,State,,,,,,"POLYGON ((76.83715 30.87887, 76.85243 30.87069..."
13,105,IND,India,14,Himachal Pradesh,,,Union Territor,Union Territory,,,,,,"POLYGON ((76.80276 33.23666, 76.80630 33.23623..."
14,105,IND,India,15,Jammu and Kashmir,,,State,State,,,,,,"POLYGON ((77.89957 35.42789, 77.90297 35.42759..."
15,105,IND,India,16,Jharkhand,,Vananchal,State,State,,,,,,"POLYGON ((87.59989 25.31466, 87.60688 25.31138..."
16,105,IND,India,17,Karnataka,,Maisur|Mysore,State,State,,,,,,"MULTIPOLYGON (((74.67097 13.19986, 74.67097 13..."
17,105,IND,India,18,Kerala,,,State,State,,,,,,"MULTIPOLYGON (((76.46736 9.54097, 76.46736 9.5..."
18,105,IND,India,19,Lakshadweep,,les Laquedives|Laccadive|Minicoy and Amindivi ...,Union Territor,Union Territory,,,,,,"MULTIPOLYGON (((73.01014 8.28042, 73.01014 8.2..."
19,105,IND,India,20,Madhya Pradesh,,,State,State,,,,,,"POLYGON ((78.36465 26.86884, 78.36688 26.86259..."
20,105,IND,India,21,Maharashtra,,,State,State,,,,,,"MULTIPOLYGON (((73.45597 15.88986, 73.45597 15..."
21,105,IND,India,22,Manipur,,,State,State,,,,,,"POLYGON ((94.57723 25.64833, 94.57609 25.64470..."
22,105,IND,India,23,Meghalaya,,,State,State,,,,,,"POLYGON ((91.85384 26.10479, 91.86470 26.10035..."
23,105,IND,India,24,Mizoram,,,State,State,,,,,,"POLYGON ((92.80080 24.41905, 92.80370 24.41879..."
24,105,IND,India,25,Nagaland,,,State,State,,,,,,"POLYGON ((95.21445 26.93695, 95.21706 26.93420..."
25,105,IND,India,26,Odisha,,,State,State,,,,,,"MULTIPOLYGON (((84.76986 19.10597, 84.76986 19..."
26,105,IND,India,27,Puducherry,,Pondicherry|Puduchcheri|Pondichry,Union Territor,Union Territory,,,,,,"MULTIPOLYGON (((79.84486 10.82653, 79.84486 10..."
27,105,IND,India,28,Punjab,,,State,State,,,,,,"POLYGON ((75.86877 32.48868, 75.88712 32.47203..."
28,105,IND,India,29,Rajasthan,,Greater Rajasthan|Rajputana,State,State,,,,,,"POLYGON ((73.88944 29.97761, 73.89118 29.97007..."
29,105,IND,India,30,Sikkim,,,State,State,,,,,,"POLYGON ((88.64526 28.09912, 88.65411 28.08984..."
30,105,IND,India,31,Tamil Nadu,,Madras|Tamilnad,State,State,,,,,,"MULTIPOLYGON (((77.55596 8.07903, 77.55596 8.0..."
31,105,IND,India,32,Tripura,,,State,State,,,,,,"POLYGON ((92.18520 24.52287, 92.18896 24.52019..."
32,105,IND,India,33,Uttar Pradesh,,United Provinces,State,State,,,,,,"POLYGON ((77.58468 30.40878, 77.58639 30.40801..."
33,105,IND,India,34,Uttarakhand,,Uttarakhand,State,State,,,,,,"POLYGON ((79.19478 31.35362, 79.19817 31.35196..."
34,105,IND,India,35,West Bengal,,Bangla|Bengala Occidentale|Bengala Ocidental|B...,State,State,,,,,,"MULTIPOLYGON (((88.01861 21.57278, 88.01889 21..."

In [68]:
states_geo['NAME_1'].unique()

array(['Andaman and Nicobar Islands', 'Andhra Pradesh',
       'Arunachal Pradesh', 'Assam', 'Bihar', 'Chandigarh',
       'Chhattisgarh', 'Dadra and Nagar Haveli', 'Daman and Diu', 'Delhi',
       'Goa', 'Gujarat', 'Haryana', 'Himachal Pradesh',
       'Jammu and Kashmir', 'Jharkhand', 'Karnataka', 'Kerala',
       'Lakshadweep', 'Madhya Pradesh', 'Maharashtra', 'Manipur',
       'Meghalaya', 'Mizoram', 'Nagaland', 'Odisha', 'Puducherry',
       'Punjab', 'Rajasthan', 'Sikkim', 'Tamil Nadu', 'Tripura',
       'Uttar Pradesh', 'Uttarakhand', 'West Bengal'], dtype=object)

In [69]:
states_df['State name'].unique()

array(['ANDAMAN AND NICOBAR ISLANDS', 'ANDHRA PRADESH',
       'ARUNACHAL PRADESH', 'ASSAM', 'BIHAR', 'CHANDIGARH',
       'CHHATTISGARH', 'DADRA AND NAGAR HAVELI', 'DAMAN AND DIU', 'GOA',
       'GUJARAT', 'HARYANA', 'HIMACHAL PRADESH', 'JAMMU AND KASHMIR',
       'JHARKHAND', 'KARNATAKA', 'KERALA', 'LAKSHADWEEP',
       'MADHYA PRADESH', 'MAHARASHTRA', 'MANIPUR', 'MEGHALAYA', 'MIZORAM',
       'NAGALAND', 'NCT OF DELHI', 'ORISSA', 'PONDICHERRY', 'PUNJAB',
       'RAJASTHAN', 'SIKKIM', 'TAMIL NADU', 'TRIPURA', 'UTTAR PRADESH',
       'UTTARAKHAND', 'WEST BENGAL'], dtype=object)

In [70]:
# we will have to match the names of states according to the names present in states_geo in order to plot the co-ordinaates of each states

states_df['State name']=states_df['State name'].apply(lambda x:x.title())

### correcting the names of the state

In [72]:
### applying numpy functions to replace the names

np.setdiff1d(states_df['State name'].unique(),states_geo['NAME_1'].unique())

array(['Andaman And Nicobar Islands', 'Dadra And Nagar Haveli',
       'Daman And Diu', 'Jammu And Kashmir', 'Nct Of Delhi', 'Orissa',
       'Pondicherry'], dtype=object)

In [73]:
np.setdiff1d(states_geo['NAME_1'].unique(),states_df['State name'].unique())

array(['Andaman and Nicobar Islands', 'Dadra and Nagar Haveli',
       'Daman and Diu', 'Delhi', 'Jammu and Kashmir', 'Odisha',
       'Puducherry'], dtype=object)

In [74]:
#replace

states_df['State name']=states_df['State name'].replace(['Andaman And Nicobar Islands', 'Dadra And Nagar Haveli','Daman And Diu', 'Jammu And Kashmir', 'Nct Of Delhi', 'Orissa','Pondicherry'],
                            ['Andaman and Nicobar Islands', 'Dadra and Nagar Haveli','Daman and Diu','Jammu and Kashmir','Delhi', 'Odisha','Puducherry'])

In [75]:
states_df

,State name,Population,Male,Female,Literate,Male_Literate,Female_Literate,SC,Male_SC,Female_SC,...,Power_Parity_Rs_90000_150000,Power_Parity_Rs_45000_150000,Power_Parity_Rs_150000_240000,Power_Parity_Rs_240000_330000,Power_Parity_Rs_150000_330000,Power_Parity_Rs_330000_425000,Power_Parity_Rs_425000_545000,Power_Parity_Rs_330000_545000,Power_Parity_Above_Rs_545000,Total_Power_Parity
0,Andaman and Nicobar Islands,380581,202871,177710,294281,164377,129904,0,0,0,...,2741,6810,1073,636,1709,405,737,1142,544,12084
1,Andhra Pradesh,84580777,42442146,42138631,50556760,28251243,22305517,13878078,6913047,6965031,...,34248,80360,5183,3090,8273,3771,5385,9156,6449,124166
2,Arunachal Pradesh,1383727,713912,669815,766005,439868,326137,0,0,0,...,1486,4158,556,396,952,141,153,294,172,6456
3,Assam,31205576,15939443,15266133,19177977,10568639,8609338,2231321,1145314,1086007,...,2095,6406,834,590,1424,195,207,402,202,9944
4,Bihar,104099452,54278157,49821295,52504553,31608023,20896530,16567325,8606253,7961072,...,18132,55371,6168,564,6732,788,1273,2061,1576,89490
5,Chandigarh,1055450,580663,474787,805438,465346,340092,199086,106356,92730,...,7152,10783,4285,2444,6729,3382,4461,7843,7897,34145
6,Chhattisgarh,25545198,12832895,12712303,15379922,8807893,6572029,3274269,1641738,1632531,...,8485,19526,1643,749,2392,613,956,1569,1263,30603
7,Dadra and Nagar Haveli,343709,193760,149949,223230,142521,80709,6186,3339,2847,...,1667,3449,407,564,971,729,978,1707,235,6793
8,Daman and Diu,243247,150301,92946,188406,124643,63763,6124,3151,2973,...,14304,21566,8570,4888,13458,6764,8922,15686,15794,68290
9,Goa,1458545,739140,719405,1165487,615823,549664,25449,12627,12822,...,851,1589,273,325,598,315,368,683,645,3724
10,Gujarat,60439692,31491260,28948432,41093358,23474873,17618485,4074447,2110331,1964116,...,36299,65573,10745,11626,22371,8419,13429,21848,12669,130705
11,Haryana,25351462,13494734,11856728,16598988,9794067,6804921,5113615,2709656,2403959,...,11667,22640,8286,5636,13922,4958,7820,12778,4461,56038
12,Himachal Pradesh,6864602,3481873,3382729,5039736,2752590,2287146,1729252,876300,852952,...,3682,8316,1322,758,2080,920,1358,2278,1564,16154
13,Jammu and Kashmir,12541302,6640662,5900640,7067233,4264671,2802562,924991,486232,438759,...,3080,9945,1527,1970,3497,1677,1048,2725,1193,20686
14,Jharkhand,32988134,16930315,16057819,18328069,10882519,7445550,3985644,2043458,1942186,...,8260,23002,3288,507,3795,708,1151,1859,1634,38409
15,Karnataka,61095297,30966657,30128640,40647322,22508471,18138851,10474992,5264545,5210447,...,25473,51251,10663,4970,15633,6956,10222,17178,7569,103198
16,Kerala,33406061,16027412,17378649,28135824,13704903,14430921,3039573,1477808,1561765,...,14093,29837,4013,4103,8116,2070,2348,4418,1542,51966
17,Lakshadweep,64473,33123,31350,52553,28023,24530,0,0,0,...,426,795,136,162,298,158,184,342,322,1861
18,Madhya Pradesh,72626809,37612306,35014503,42851169,25174328,17676841,11342320,5908638,5433682,...,24381,56496,3729,2761,6490,2408,3756,6164,3989,89277
19,Maharashtra,112374333,58243056,54131277,81554290,45257584,36296706,13275898,6767759,6508139,...,70807,132603,29860,23999,53859,31912,40163,72075,43658,317442
20,Manipur,2855794,1438586,1417208,1908476,1039858,868618,97328,48863,48465,...,807,2115,262,117,379,72,49,121,36,3366
21,Meghalaya,2966889,1491832,1475057,1785005,913879,871126,17355,9157,8198,...,1021,2616,369,302,671,98,124,222,164,4176
22,Mizoram,1097206,555339,541867,848175,438529,409646,1218,807,411,...,623,1193,224,119,343,92,132,224,175,2108
23,Nagaland,1978502,1024649,953853,1342434,723957,618477,0,0,0,...,887,2417,392,129,521,117,125,242,146,3763
24,Delhi,16787941,8987326,7800615,12737767,7194856,5542911,2812309,1488800,1323509,...,17127,32256,5301,5238,10539,4338,5103,9441,6921,64359
25,Odisha,41974218,21212136,20762082,26742595,15089681,11652914,7188463,3617808,3570655,...,8744,24663,4766,3916,8682,987,1597,2584,1351,49831
26,Puducherry,1247953,612511,635442,957309,497378,459931,196325,95512,100813,...,8011,15335,4775,2854,7629,1974,3417,5391,4679,34971
27,Punjab,27743338,14639465,13103873,18707137,10436056,8271081,8860179,4639875,4220304,...,15827,27357,9200,6311,15511,7349,10597,17946,9560,73388
28,Rajasthan,68548437,35550997,32997440,38275282,23688412,14586870,12221593,6355564,5866029,...,30478,63033,6317,4698,11015,5076,8235,13311,10589,108763
29,Sikkim,610577,323070,287507,444952,251269,193683,28275,14454,13821,...,215,539,87,84,171,19,15,34,29,913
30,Tamil Nadu,72147030,36137975,36009055,51837507,28040491,23797016,14438445,7204687,7233758,...,37180,81283,22188,12888,35076,8312,15348,23660,15362,168697
31,Tripura,3673917,1874376,1799541,2804783,1501369,1303414,654918,334370,320548,...,1330,3230,456,420,876,100,124,224,237,5238
32,Uttar Pradesh,199812341,104480510,95331831,114397555,68234964,46162591,41357608,21676975,19680633,...,56146,138562,15329,20209,35538,12115,6564,18679,7154,237885
33,Uttarakhand,10086292,5137773,4948519,6880953,3863708,3017245,1892516,968586,923930,...,3010,6945,811,920,1731,871,389,1260,463,12189
34,West Bengal,91276115,46809027,44467088,61538281,33818810,27719471,21463270,11003304,10459966,...,32335,73712,15122,8849,23971,5482,10459,15941,8720,140786

In [76]:
## converting all the parameter values into percentage with respect to population 
def percent_state(data):
    cols=data.columns[2:]
    for i in cols:
        data[i]=np.round(data[i]/data['Population']*100,2)
        
    return data

In [77]:
final_df=percent_state(states_df)
final_df

,State name,Population,Male,Female,Literate,Male_Literate,Female_Literate,SC,Male_SC,Female_SC,...,Power_Parity_Rs_90000_150000,Power_Parity_Rs_45000_150000,Power_Parity_Rs_150000_240000,Power_Parity_Rs_240000_330000,Power_Parity_Rs_150000_330000,Power_Parity_Rs_330000_425000,Power_Parity_Rs_425000_545000,Power_Parity_Rs_330000_545000,Power_Parity_Above_Rs_545000,Total_Power_Parity
0,Andaman and Nicobar Islands,380581,53.31,46.69,77.32,43.19,34.13,0.00,0.00,0.00,...,0.72,1.79,0.28,0.17,0.45,0.11,0.19,0.30,0.14,3.18
1,Andhra Pradesh,84580777,50.18,49.82,59.77,33.40,26.37,16.41,8.17,8.23,...,0.04,0.10,0.01,0.00,0.01,0.00,0.01,0.01,0.01,0.15
2,Arunachal Pradesh,1383727,51.59,48.41,55.36,31.79,23.57,0.00,0.00,0.00,...,0.11,0.30,0.04,0.03,0.07,0.01,0.01,0.02,0.01,0.47
3,Assam,31205576,51.08,48.92,61.46,33.87,27.59,7.15,3.67,3.48,...,0.01,0.02,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.03
4,Bihar,104099452,52.14,47.86,50.44,30.36,20.07,15.91,8.27,7.65,...,0.02,0.05,0.01,0.00,0.01,0.00,0.00,0.00,0.00,0.09
5,Chandigarh,1055450,55.02,44.98,76.31,44.09,32.22,18.86,10.08,8.79,...,0.68,1.02,0.41,0.23,0.64,0.32,0.42,0.74,0.75,3.24
6,Chhattisgarh,25545198,50.24,49.76,60.21,34.48,25.73,12.82,6.43,6.39,...,0.03,0.08,0.01,0.00,0.01,0.00,0.00,0.01,0.00,0.12
7,Dadra and Nagar Haveli,343709,56.37,43.63,64.95,41.47,23.48,1.80,0.97,0.83,...,0.49,1.00,0.12,0.16,0.28,0.21,0.28,0.50,0.07,1.98
8,Daman and Diu,243247,61.79,38.21,77.45,51.24,26.21,2.52,1.30,1.22,...,5.88,8.87,3.52,2.01,5.53,2.78,3.67,6.45,6.49,28.07
9,Goa,1458545,50.68,49.32,79.91,42.22,37.69,1.74,0.87,0.88,...,0.06,0.11,0.02,0.02,0.04,0.02,0.03,0.05,0.04,0.26
10,Gujarat,60439692,52.10,47.90,67.99,38.84,29.15,6.74,3.49,3.25,...,0.06,0.11,0.02,0.02,0.04,0.01,0.02,0.04,0.02,0.22
11,Haryana,25351462,53.23,46.77,65.48,38.63,26.84,20.17,10.69,9.48,...,0.05,0.09,0.03,0.02,0.05,0.02,0.03,0.05,0.02,0.22
12,Himachal Pradesh,6864602,50.72,49.28,73.42,40.10,33.32,25.19,12.77,12.43,...,0.05,0.12,0.02,0.01,0.03,0.01,0.02,0.03,0.02,0.24
13,Jammu and Kashmir,12541302,52.95,47.05,56.35,34.01,22.35,7.38,3.88,3.50,...,0.02,0.08,0.01,0.02,0.03,0.01,0.01,0.02,0.01,0.16
14,Jharkhand,32988134,51.32,48.68,55.56,32.99,22.57,12.08,6.19,5.89,...,0.03,0.07,0.01,0.00,0.01,0.00,0.00,0.01,0.00,0.12
15,Karnataka,61095297,50.69,49.31,66.53,36.84,29.69,17.15,8.62,8.53,...,0.04,0.08,0.02,0.01,0.03,0.01,0.02,0.03,0.01,0.17
16,Kerala,33406061,47.98,52.02,84.22,41.03,43.20,9.10,4.42,4.68,...,0.04,0.09,0.01,0.01,0.02,0.01,0.01,0.01,0.00,0.16
17,Lakshadweep,64473,51.37,48.63,81.51,43.46,38.05,0.00,0.00,0.00,...,0.66,1.23,0.21,0.25,0.46,0.25,0.29,0.53,0.50,2.89
18,Madhya Pradesh,72626809,51.79,48.21,59.00,34.66,24.34,15.62,8.14,7.48,...,0.03,0.08,0.01,0.00,0.01,0.00,0.01,0.01,0.01,0.12
19,Maharashtra,112374333,51.83,48.17,72.57,40.27,32.30,11.81,6.02,5.79,...,0.06,0.12,0.03,0.02,0.05,0.03,0.04,0.06,0.04,0.28
20,Manipur,2855794,50.37,49.63,66.83,36.41,30.42,3.41,1.71,1.70,...,0.03,0.07,0.01,0.00,0.01,0.00,0.00,0.00,0.00,0.12
21,Meghalaya,2966889,50.28,49.72,60.16,30.80,29.36,0.58,0.31,0.28,...,0.03,0.09,0.01,0.01,0.02,0.00,0.00,0.01,0.01,0.14
22,Mizoram,1097206,50.61,49.39,77.30,39.97,37.34,0.11,0.07,0.04,...,0.06,0.11,0.02,0.01,0.03,0.01,0.01,0.02,0.02,0.19
23,Nagaland,1978502,51.79,48.21,67.85,36.59,31.26,0.00,0.00,0.00,...,0.04,0.12,0.02,0.01,0.03,0.01,0.01,0.01,0.01,0.19
24,Delhi,16787941,53.53,46.47,75.87,42.86,33.02,16.75,8.87,7.88,...,0.10,0.19,0.03,0.03,0.06,0.03,0.03,0.06,0.04,0.38
25,Odisha,41974218,50.54,49.46,63.71,35.95,27.76,17.13,8.62,8.51,...,0.02,0.06,0.01,0.01,0.02,0.00,0.00,0.01,0.00,0.12
26,Puducherry,1247953,49.08,50.92,76.71,39.86,36.85,15.73,7.65,8.08,...,0.64,1.23,0.38,0.23,0.61,0.16,0.27,0.43,0.37,2.80
27,Punjab,27743338,52.77,47.23,67.43,37.62,29.81,31.94,16.72,15.21,...,0.06,0.10,0.03,0.02,0.06,0.03,0.04,0.06,0.03,0.26
28,Rajasthan,68548437,51.86,48.14,55.84,34.56,21.28,17.83,9.27,8.56,...,0.04,0.09,0.01,0.01,0.02,0.01,0.01,0.02,0.02,0.16
29,Sikkim,610577,52.91,47.09,72.87,41.15,31.72,4.63,2.37,2.26,...,0.04,0.09,0.01,0.01,0.03,0.00,0.00,0.01,0.00,0.15
30,Tamil Nadu,72147030,50.09,49.91,71.85,38.87,32.98,20.01,9.99,10.03,...,0.05,0.11,0.03,0.02,0.05,0.01,0.02,0.03,0.02,0.23
31,Tripura,3673917,51.02,48.98,76.34,40.87,35.48,17.83,9.10,8.72,...,0.04,0.09,0.01,0.01,0.02,0.00,0.00,0.01,0.01,0.14
32,Uttar Pradesh,199812341,52.29,47.71,57.25,34.15,23.10,20.70,10.85,9.85,...,0.03,0.07,0.01,0.01,0.02,0.01,0.00,0.01,0.00,0.12
33,Uttarakhand,10086292,50.94,49.06,68.22,38.31,29.91,18.76,9.60,9.16,...,0.03,0.07,0.01,0.01,0.02,0.01,0.00,0.01,0.00,0.12
34,West Bengal,91276115,51.28,48.72,67.42,37.05,30.37,23.51,12.05,11.46,...,0.04,0.08,0.02,0.01,0.03,0.01,0.01,0.02,0.01,0.15

In [78]:
# exporting the file in csv format

#final_df.to_csv('Census_2011_India_State.csv',index=False)

In [ ]:
## works fine